.title {
  text-align: center;
  font-size: 4rem;
  font-family: 'VT323', monospace;
  text-transform: uppercase;
}

.scoreboard {
  text-align: center;
}

#player-score {
  position: relative;
  display: inline-block;
  margin-right: 9rem;
  font-family: arial;
  text-transform: uppercase;
  font-size: 14px;
  visibility: hidden;
}

#comp-score {
  position: relative;
  display: inline-block;
  margin-left: 9rem;
  font-family: arial;
  text-transform: uppercase;
  font-size: 14px;
  visibility: hidden;
}

.canvas {
  position: relative;
  visibility: hidden;
}

#canv {
  position: relative;
  padding: 0;
  margin: auto;
  display: block;
  width: 800px;
  background: #dee4df;
}

#intro {
  text-align: center;
  border: 2px solid black;
  height: 500px;
  width: 800px;
  margin: auto;
  font-family: arial;
}

#start {
  margin-top: 13rem;
  padding: 0 3rem 0 3rem;
}

.end {
  display: none;
  text-align: center;
  border: 2px solid black;
  height: 500px;
  width: 800px;
  margin: auto;
  visibility: visible;
}

#game-end {
  color: #8b0000;
  margin-top: 11rem;
  font-family: arial;
  visibility: visible;
}
